@model WebApplication2.Models.Category

@{
    ViewBag.Title = "Redaguoti kategorija";
}

<h2>Redaguoti</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Kategorija</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        @Html.LabelFor(model => model.name, labelText: "Pavadinimas", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, labelText: "Aprašas", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="description">Tėvinė kategorija</label>
        <div class="col-md-10">
            <select name="parentId" class="form-control">
                <option value="0"></option>
                @foreach (var category in ViewBag.Categories as IEnumerable<WebApplication2.Models.Category>)
                {
                    <option value="@category.id" @(category.id == Model.parentId ? "selected" : "")>@category.name</option>
                }
            </select>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atgal į saraša", "Index")
</div>
