@model WebApplication2.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>@Model.name</h2>

<div class="row">
        <div class="col-md-6">
        <img style="max-width:500px;"src="@Model.imageURL"/>
         </div>
        <div class="col-md-6">
            <dt>
                Kaina:
                @String.Format("{0:0.00} €", Model.price)
            </dt>
            <div>
                Liko:
                @Model.getAmount()
            </div>
            <div>
                Masė:
                @Model.mass g
            </div>

            <div>
                Gaminotojas:
                @Model.manufacturer
            </div>
            <div>Aprašas</div>
            <p>@Model.description</p>
            <div>Kategorijos</div>
            @foreach (var PrCa in Model.ProductCategories as ICollection<WebApplication2.Models.ProductCategory>)
            {
                <div>
                    @PrCa.CategoryId
                </div>
            }
            <a href="#" class="btn btn-primary">Į krepšelį</a>
        </div>

</div>