    @model IEnumerable<WebApplication2.Models.Product>

@{
    ViewBag.Title = "Produktai";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Naujas", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageURL)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.id }) |
            @Html.ActionLink("Peržiūra", "Details", new { id=item.id }) |
            @Html.ActionLink("Šalinti", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
